.th{
    
    font-size:  30px;;
    padding: 3px;
    background-color: navy;
    color: antiquewhite; 
}
#formulir{
    text-align: center;
    border: 1px solid black;
    width: 300px;
    
    
}
.tf{
padding: 5px;
background-color: silver;
}